extends layout

block content
  h1= title
  if (currentUser)
    p Welcome #{currentUser.username}
    a(href="/club/log-out") Log Out 
  else 
    a(href='/club/sign-up') Sign Up
    | 
    a(href="/club/log-in") Log In 
  
