doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   header.header
    a(href="/")
      h1.title private club  
    if (currentUser)
      div.headerButtons
        if (currentUser.membership === false)
          a(href="/club/membership") Join Club
        else
          if (currentUser.admin === false)
            p You're a club member
          else
            p You're a club member admin
        p.welcome #{currentUser.username}
        a(href="/club/log-out") Log Out 
    else 
      div.headerButtons
        a(href="/club/log-in") Log In 
        |
        a(href='/club/sign-up') Sign Up
  main.main 
    block content
